@model SegundoParcialMVC.Models.Compra

@{
    ViewBag.Title = "Eliminar compra";
}

<h2>Eliminar compra</h2>

<h3>¿Está seguro de que desea eliminar esta compra?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_usuario)
        </dd>

        <dt>
            Nombre del producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_producto)
        </dd>

        <dt>
            Monto de la compra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        @Html.ActionLink("Volver al panel de administrador", "Index")
    </div>
    }
</div>
