@model SegundoParcialMVC.Models.Producto

@{
    ViewBag.Title = "Detalles del producto";
}

<h2>Detalles del producto</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
           Color
        </dt>

        <dd>
            <input type="color" value="@Model.color" disabled="disabled" />
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar producto", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver al panel de administrador", "Index")
</p>
